.navbar-container {
	height: 78px;
	background-color: #edece8;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-container h1 {
	font-size: 2.25rem;
	font-family: "Libre Bodoni";
	font-weight: 400;
	margin-left: 50px;
}

.navbar-buttons-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 89px;
	color: #343433;
	letter-spacing: 1.92px;
	margin-right: 50px;
}

.navbar-buttons-container h2 {
	font-size: 0.9375rem;
	font-family: "Montserrat";
	font-weight: 400;
	cursor: pointer;
}

.navbar-buttons-container h2:first-child {
	font-weight: 500;
}
