.menu-icon {
	display: none;
}

.navbar-container {
	height: 78px;
	background-color: #edece8;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-container h1 {
	font-size: 2.25rem;
	font-family: "Libre Bodoni";
	font-weight: 400;
	margin-left: 50px;

	white-space: nowrap;
}

.navbar-buttons-container {
	display: flex;
}

.navbar-buttons-titles {
	display: flex;
	align-items: center;
	gap: 73px;
	letter-spacing: 1.92px;
	margin-right: 50px;
}

.navbar-buttons-container h2 {
	font-size: 0.9375rem;
	font-family: "Montserrat";
	font-weight: 400;
	cursor: pointer;
}

.navbar-buttons-container h2:first-child {
	font-weight: 500;
}

@media (max-width: 980px) {
	.navbar-buttons-titles {
		display: none;
	}

	.menu-icon {
		display: block;
		margin-right: 50px;
	}
}
