#root {
	--slider-text-color: #f4f3f1;
}

.homepage-slider-container {
	width: 100%;
	height: calc(100vh - 78px);
}

.homepage-slider-container img {
	width: inherit;
	height: inherit;
	object-fit: cover;
	vertical-align: middle;
}

.slider-title {
	font-family: "Libre Bodoni";
	font-size: clamp(1.7rem, 6vw, 3.75rem);
	font-weight: 400;
	letter-spacing: 3px;
	color: var(--slider-text-color);
	text-align: center;
}

.slider-upper-title,
.slider-bottom-title {
	font-family: "Montserrat";
	font-size: 1.125rem;
	font-weight: 500;
	letter-spacing: 3px;
	color: var(--slider-text-color);
	white-space: nowrap;
	opacity: 0.85;
}

.white-stripe {
	width: clamp(50px, 6vw, 65px);
	height: 1px;
	background-color: var(--slider-text-color);
	opacity: 0.55;
}

.slider-upper-title-container {
	display: flex;
	align-items: center;
	gap: 20px;
}

.slider-content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 444px) {
	.slider-title {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
