#root {
	--footer-background: #343433;
	--footer-text: #f4f3f1;
}

.footer-container div p {
	font-size: 0.9375rem;
	font-family: "Montserrat";
	font-weight: 400;
	color: var(--footer-text);
}

.footer-container {
	width: 100%;
	height: 211px;
	background-color: var(--footer-background);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 495px;
	overflow: hidden;
}

.footer-left-side {
	width: 571px;
	margin-left: 50px;
}

.footer-right-side {
	margin-right: 50px;
	white-space: nowrap;
}

.footer-right-side p span {
	font-weight: 500;
}

@media (max-width: 972px) {
	.footer-container {
		gap: 50px;
	}

	.footer-left-side {
		width: 200px;
	}
}

@media (max-width: 530px) {
	.footer-container {
		flex-direction: column;
		gap: 15px;
		align-items: center;
	}
	.footer-left-side,
	.footer-right-side {
		margin: 0;
		min-width: 400px;
		text-align: center;
	}
}
